<header class="p-3 mainNav">
  <div class="container-fluid">
    <div class="d-flex flex-wrap justify-content-center justify-content-lg-between align-items-center">
      <a class="navbar-brand brand" routerLink="/">
        <img class="logo"
          src="https://res.cloudinary.com/dz2dgihhs/image/upload/v1721303006/cropped-nobara_penguin_logotype_1_auy1ho.png"
          alt="logo" />
      </a>
      <ul class="nav col-12 col-lg-auto mt-3 justify-content-center justify-content-lg-end">
        <li class="nav-item active">
          <a class="nav-link text-light" routerLink="/"><i class="bi bi-house"></i> Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-light" routerLink="download"><i class="bi bi-download"></i> Download</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-light" routerLink="about"><i class="bi bi-info-circle"></i> About</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-light" routerLink="faq"><i class="bi bi-patch-question mx-1"></i> FAQ</a>
        </li>
      </ul>
    </div>
  </div>
</header>
