.faq-container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  color: white;
}
.faq-item {
  margin-bottom: 20px;
}
.faq-item h3 {
  font-size: 1.2em;

}
.faq-item p {
  font-size: 1em;

}
