<section class="scroll-mt-16">
  <div class="d-flex justify-content-center p-9">
    <div class="container px-3">
      <!-- Standard Edition Section -->
      <div class="row align-items-center my-5 pb-5 text-light">
        <div class="col-12 col-md-6 p-4">
          <h2 class="mb-4 display-4 font-weight-bold">Nobara Standard Edition</h2>
          <ul>
            <li><strong>Official</strong> – Nobara’s Custom themed version of KDE</li>
            <li><strong>GNOME</strong> – Clean version of GNOME</li>
            <li><strong>KDE</strong> – Clean version of KDE</li>
            <li><strong>Steam-HTPC</strong> – Nobara customized to look/feel like Steam Deck, built for HTPCs, uses KDE.</li>
            <li><strong>Steam-Handheld</strong> – Nobara customized to look/feel like Steam Deck, built for Handheld devices, uses KDE.</li>
          </ul>
          <div class="mb-4">
            <div ngbDropdown class="d-inline-block">
              <button class="btn btn-primary" id="standardEditionDropdown" ngbDropdownToggle>Download Standard Editions</button>
              <div ngbDropdownMenu aria-labelledby="standardEditionDropdown" class="dropItem">
                <a class="dropdown-item" href="https://iso.cachyos.org/desktop/240714/cachyos-desktop-linux-240714.iso">Nobara-40-Official-2024-07-17.iso</a>
                <a class="dropdown-item" href="https://iso.cachyos.org/desktop/240714/cachyos-gnome-linux-240714.iso">Nobara-40-GNOME-2024-07-17.iso</a>
                <a class="dropdown-item" href="https://iso.cachyos.org/desktop/240714/cachyos-kde-linux-240714.iso">Nobara-40-KDE-2024-07-17.iso</a>
                <a class="dropdown-item" href="https://iso.cachyos.org/desktop/240714/cachyos-steam-htpc-linux-240714.iso">Nobara-40-Steam-HTPC-2024-07-17.iso</a>
                <a class="dropdown-item" href="https://iso.cachyos.org/desktop/240714/cachyos-steam-handheld-linux-240714.iso">Nobara-40-Steam-Handheld-2024-07-17.iso</a>
              </div>
            </div>
          </div>
        </div>
        <div class="col-12 col-md-6 p-4 img">
          <img src="https://res.cloudinary.com/dz2dgihhs/image/upload/v1720439585/ncsk2rbod3znwbfaasg3.png" class="img-fluid rounded-xl" alt="Standard Edition">
          <img src="https://res.cloudinary.com/dz2dgihhs/image/upload/v1721313177/n40gnome_bpl5cs.png" class="img-fluid rounded-xl" alt="Standard Edition">
          <img src="https://res.cloudinary.com/dz2dgihhs/image/upload/v1721313178/n40steam-2_r6d2m3.png" class="img-fluid rounded-xl" alt="Standard Edition">
        </div>
      </div>
      <!-- Nvidia Edition Section -->
      <div class="row align-items-center my-5 pb-5 text-light">
        <div class="col-12 col-md-6 p-4">
          <h2 class="mb-4 display-4 font-weight-bold">Nobara Nvidia Edition</h2>
          <p>Note: Nvidia ISOs may take 1-2 minutes to boot due to akmods running before booting into the live environment. Only the latest Nvidia driver is supported.</p>
          <ul>
            <li><strong>Official-NV</strong> – Nobara’s Custom themed version of KDE with Nvidia drivers pre-installed</li>
            <li><strong>GNOME-NV</strong> – Clean version of GNOME with Nvidia drivers pre-installed</li>
            <li><strong>KDE-NV</strong> – Clean version of KDE with Nvidia drivers pre-installed</li>
            <li><strong>Steam-HTPC-NV</strong> – Nobara customized to look/feel like Steam Deck, built for HTPCs, uses KDE, with Nvidia drivers pre-installed.</li>
            <li><strong>Steam-Handheld-NV</strong> – Nobara customized to look/feel like Steam Deck, built for Handheld devices, uses KDE, with Nvidia drivers pre-installed.</li>
          </ul>
          <div class="mb-4">
            <div ngbDropdown class="d-inline-block">
              <button class="btn btn-primary" id="nvidiaEditionDropdown" ngbDropdownToggle>Download Nvidia Editions</button>
              <div ngbDropdownMenu aria-labelledby="nvidiaEditionDropdown" class="dropItem">
                <a class="dropdown-item" href="https://iso.cachyos.org/desktop/240714/cachyos-official-nv-linux-240714.iso">Nobara-40-Official-NV-2024-07-17.iso</a>
                <a class="dropdown-item" href="https://iso.cachyos.org/desktop/240714/cachyos-gnome-nv-linux-240714.iso">Nobara-40-GNOME-NV-2024-07-17.iso</a>
                <a class="dropdown-item" href="https://iso.cachyos.org/desktop/240714/cachyos-kde-nv-linux-240714.iso">Nobara-40-KDE-NV-2024-07-17.iso</a>
                <a class="dropdown-item" href="https://iso.cachyos.org/desktop/240714/cachyos-steam-htpc-nv-linux-240714.iso">Nobara-40-Steam-HTPC-NV-2024-07-17.iso</a>
                <a class="dropdown-item" href="https://iso.cachyos.org/desktop/240714/cachyos-steam-handheld-nv-linux-240714.iso">Nobara-40-Steam-Handheld-NV-2024-07-17.iso</a>
              </div>
            </div>
          </div>
        </div>
        <div class="col-12 col-md-6 p-4 img">
          <img src="https://res.cloudinary.com/dz2dgihhs/image/upload/v1720439585/ncsk2rbod3znwbfaasg3.png" class="img-fluid rounded-xl" alt="Standard Edition">
          <img src="https://res.cloudinary.com/dz2dgihhs/image/upload/v1721313177/n40gnome_bpl5cs.png" class="img-fluid rounded-xl" alt="Standard Edition">
          <img src="https://res.cloudinary.com/dz2dgihhs/image/upload/v1721313178/n40steam-2_r6d2m3.png" class="img-fluid rounded-xl" alt="Standard Edition">
        </div>
      </div>
    </div>
  </div>
</section>
