<footer class="footer py-2">

  <ul class="nav justify-content-center">
    <li class="nav-item active">
      <a class="nav-link font" routerLink="/"><i class="bi bi-house"></i> Home</a>
    </li>
    <li class="nav-item">
      <a class="nav-link font" routerLink="categories/new-release"><i class="bi bi-star"></i> Download</a>
    </li>
    <li class="nav-item active">
      <a class="nav-link font" routerLink="/about"><i class="bi bi-info-circle"></i> About</a>
    </li>
    <li class="nav-item">
      <a class="nav-link font" routerLink="categories/DE"><i class="bi bi-display"></i> FAQ</a>
    </li>
  </ul>
  <p class="text-center footer-text">
    NobaraOs © 2024 Powered by BuBiNo-MoB
    <img src="https://res.cloudinary.com/dz2dgihhs/image/upload/v1720101686/tux_logo_oqrdom.png" alt="tux logo" style="width: 50px" />
  </p>
</footer>
