<div class="container col-xxl-8 px-4 py-5">
  <div class="row flex-lg-row-reverse align-items-center g-5 py-5">
      <div class="col-10 col-sm-8 col-lg-6">
          <img src="https://res.cloudinary.com/dz2dgihhs/image/upload/v1720439585/ncsk2rbod3znwbfaasg3.png" class="d-block mx-lg-auto img-fluid" alt="nobara desktop-image"
              width="700" height="500" loading="lazy">
      </div>
      <div class="col-lg-6 text-center">
          <h1 class="display-5 fw-bold text-light lh-1 mb-3">Nobara simplifies gaming and streaming on Linux
              for free
          </h1>
          <p class="lead text-light">The Nobara Project, to put it simply, is a modified version of Fedora
              Linux with
              user-friendly fixes added to it. Some of the important things that are missing from Fedora,
              especially with regards to gaming include WINE dependencies, obs-studio, 3rd party codec
              packages such as those for gstreamer, 3rd party drivers such as NVIDIA drivers, and even small
              package fixes here and there.</p>
          <div class="d-grid gap-2 d-md-flex justify-content-center">
              <button type="button" class="btn btn-primary btn-lg px-4 me-md-2">Download NobaraOS</button>
          </div>
      </div>
  </div>
</div>
