<main>
  <div class="row flex-lg-row-reverse align-items-center py-5">
    <div class="col-lg-6">
      <h1 class="display-5 fw-bold text-light mb-3">Nobara simplifies gaming and streaming on Linux
        for free
      </h1>
      <p class="lead font text-light">The Nobara Project, to put it simply, is a modified version of Fedora
        Linux with
        user-friendly fixes added to it. Some of the important things that are missing from Fedora,
        especially with regards to gaming include WINE dependencies, obs-studio, 3rd party codec
        packages such as those for gstreamer, 3rd party drivers such as NVIDIA drivers, and even small
        package fixes here and there.
      </p>
      <div class="d-grid d-md-flex justify-content-md-center">
        <a routerLink="download" class="btn btn-primary">Download NobaraOS</a>
      </div>
    </div>
    <div class="col-10 col-lg-6">
      <img src="https://res.cloudinary.com/dz2dgihhs/image/upload/v1720439585/ncsk2rbod3znwbfaasg3.png"
        class="d-block mx-lg-auto img-fluid mb-5" alt="Neon Themes" loading="lazy">
    </div>
  </div>

  <section id="features" class="mt-4">
    <div class="container py-5">
      <div class="text-center text-light mb-5">
        <h2 class="display-5 font-weight-bold">Discover <span class="nowrap">NobaraOS</span></h2>
        <p class="mx-auto">
          Experience amazing performance on NobaraOS - A Fedora-based distribution, NobaraOS has kernel patched with
          cherry-picked zen patches, kernel patched with steam deck support.
        </p>
      </div>
      <div class="row text-light">
        <div class="col-md-6 mb-4">
          <div class="d-flex">
            <div class="mx-3">
              <i class="bi bi-controller" style="font-size: 2rem;"></i>
            </div>
            <div>
              <h3 class="font-weight-bold">Compatibility and Performance for Gaming</h3>
              <p>Nobara enhances Fedora with numerous kernel patches specific to gaming, including support for Steam
                Deck, NVIDIA, AMD, and Microsoft Surface devices, ensuring a smooth and optimized gaming experience.</p>
            </div>
          </div>
        </div>
        <div class="col-md-6 mb-4">
          <div class="d-flex">
            <div class="mx-3">
              <i class="bi bi-person-check" style="font-size: 2rem;"></i>
            </div>
            <div>
              <h3 class="font-weight-bold">User-Friendly and Ready Out-of-the-Box</h3>
              <p>Designed to be user-friendly, Nobara includes essential packages such as NVIDIA drivers, WINE, OBS
                Studio, and video codecs, eliminating the need for manual configurations and terminal use for less
                experienced users.</p>
            </div>
          </div>
        </div>
        <div class="col-md-6 mb-4">
          <div class="d-flex">
            <div class="mx-3">
              <i class="bi bi-film" style="font-size: 2rem;"></i>
            </div>
            <div>
              <h3 class="font-weight-bold">Enhanced Multimedia Experience</h3>
              <p>With Nobara, tools like Blender and DaVinci Resolve are ready to use with support for GPU rendering and
                advanced video codecs, making it ideal for content creators and streamers.</p>
            </div>
          </div>
        </div>
        <div class="col-md-6 mb-4">
          <div class="d-flex">
            <div class="mx-3">
              <i class="bi bi-arrow-repeat" style="font-size: 2rem;"></i>
            </div>
            <div>
              <h3 class="font-weight-bold">Regular Updates and Maintenance</h3>
              <p>Nobara provides frequent updates for crucial components like Mesa, Gamescope, MangoHud, and Goverlay,
                ensuring that users have access to the latest optimizations and performance improvements.</p>
            </div>
          </div>
        </div>
        <div class="col-md-6 mb-4">
          <div class="d-flex">
            <div class="mx-3">
              <i class="bi bi-tools" style="font-size: 2rem;"></i>
            </div>
            <div>
              <h3 class="font-weight-bold">Support for Proprietary and Third-Party Software</h3>
              <p>It includes RPMFusion repositories for non-free software and modified packages to ensure compatibility
                with popular applications and games, offering a comprehensive out-of-the-box ecosystem.</p>
            </div>
          </div>
        </div>
        <div class="col-md-6 mb-4">
          <div class="d-flex">
            <div class="mx-3">
              <i class="bi bi-window" style="font-size: 2rem;"></i>
            </div>
            <div>
              <h3 class="font-weight-bold">User Interface Enhancements</h3>
              <p>Nobara brings numerous improvements to GNOME, such as support for fractional scaling, better extension
                management, and more intuitive file navigation, enhancing the overall user experience.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

</main>
